

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

.bg {
    background-image: url('https://img2.10bestmedia.com/Images/Photos/379865/Alaska---Forget-me-not_54_990x660.jpg');
    no-repeat center center/cover;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: none;
    background-size: cover;
    filter: blur(0px);
    position: absolute;
    z-index: -1;
}

.loading-text {
    font-size: 50px;
    color: #696969;
}